<strong>Olá, {{ organizerName }}</strong>
<p>Você está atraindo interesse das pessoas! Um novo usuário acaba de se inscrever no seu meetup {{ meetupTitle }}.</p>
<p>
  <strong>Usuário</strong> <br />
  <i> Nome: </i> {{ userName }} <br />
  <i> Email: </i> {{ userEmail }} <br />
  <br />
</p>
